#main-footer {
  background-color: #8FB0A9; }

body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #EFD78D;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 1rem; }

#showcase {
  position: relative;
  background-size: 100%;
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(239, 215, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #showcase h1 {
    margin-top: 25%; }
  #showcase img {
    padding: 20%; }

.why-cat-header {
  widows: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#cats .card:hover {
  background: #E97E2E;
  color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
